
.welcome-text {
  align-self: center;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10vh;
  margin-top: 20vh;

}

.welcome-text h2 {
  text-align: justify;
  font-size: 12px;
}

.welcome-sub-text {
  align-self: justify;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: light;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10vh;
  margin-bottom: 15vh;
  line-height: 2;

}

.welcome-sub-text2 {
  align-self: justify;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: light;  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;

}

.block-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;

}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-flex {
  flex-direction: column;
  justify-content: space-around;
}
