<div class="topnav" id="myTopnav">
  <%= link_to 'Home', '#Home' %>
  <%= link_to 'About', '#About' %>
  <%= link_to 'Work', '#Work' %>
  <%= link_to 'Contact', '#Contact' %>
  <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
</div>



