
<div class="container">
<div class="section">
  <h1 class="welcome-text">Hi friend.</h1>
  <button class="button"></button>
    <h2 class="welcome-sub-text" >My name is Joscha Koepke. I'm a passionate ☕ drinker and consult Google's largest 🚗 clients on digital transformation.  </h2>

  <section id="section01" class="demo">
    <h1>Scroll Down Button #1</h1>
    <a href="#section02"><span></span>Scroll</a>
  </section>

  <div class="charts">

    <!-- <canvas id="tech-chart" width="400" height="250"></canvas> -->
    <p>Ruby on Rails</p>
    <div style="width: 60vw; margin: 50px auto">
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%">
        <span class="title">60%</span>
        </div>
      </div>
    </div>

    <p>JavaScript</p>
    <div style="width: 60vw; margin: 50px auto">
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 30%">
        <span class="title">30%</span>
        </div>
      </div>
    </div>

    <h2 class="welcome-sub-text">I've got a huge love for launching and improving web apps. You can check out my code here <a href="https://www.instagram.com/meykomeyko/?hl=en"><i class="fab fa-github"></i></a>, contact me professionaly here <a href="https://www.linkedin.com/in/joschakoepke/"><i class="fab fa-linkedin"></i></a> or check out some of my pictures here <a href="https://www.instagram.com/meykomeyko/?hl=en"><i class="fab fa-instagram"></i></a>.</h2>

    <!-- <canvas id="interest-chart" width="400" height="250"></canvas> -->
  </div>
</div>







<script>
  Chart.defaults.global.defaultFontFamily = 'Montserrat';
  Chart.defaults.global.defaultFontSize = 16;


  new Chart(document.getElementById("tech-chart"), {
    type: 'doughnut',
    data: {
      labels: ["JS", "RoR", "HTML5", "Python"],
      datasets: [
        {
          label: "Tech",
          backgroundColor: ["#f723c2", "#2390f7","#f77123","#f72359"],
          data: [2478,5267,734,784]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'My Tech Expertise'
      }
    }
});
</script>

<script>
  new Chart(document.getElementById("interest-chart"), {
    type: 'doughnut',
    FontFamily: "'Montserrat'",
    data: {
      labels: ["Surfing", "Coffee", "Tennis", "Gym"],
      datasets: [
        {
          label: "Interest",
          backgroundColor: ["#f723c2", "#2390f7","#f77123","#f72359"],
          data: [2478,5267,734,784]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'My Interests '
      }
    }
});
</script>


