
<div class="container">


<div class="section">
  <h1 class="welcome-text">Hi friend.</h1>
    <button class="button"></button>
    <h2 class="welcome-sub-text" >My name is Joscha Koepke. I'm a passionate ☕ drinker and consult Google's largest 🚗 clients on digital transformation.</h2>



</div>



<div class="section">
  <div class="section-flex">
    <h1 class="welcome-text2" id="basic-waypoint">Some Data</h1>

    <div class="card-graph" id="graph">
      <div class="charts">

        <p>Growth Hacking</p>
        <div style="width: 40vw; margin-bottom:0px">
          <div class="progress">
            <div class="bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="max-width: 90%">
            <span class="title">90%</span>
            </div>
          </div>
        </div>
      </div>

        <p>Ruby on Rails</p>
        <div style="width: 40vw; margin-bottom:0px">
          <div class="progress">
            <div class="bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 40%">
            <span class="title">40%</span>
            </div>
          </div>
        </div>

        <p>JavaScript</p>
        <div style="width: 40vw; margin-bottom:0px">
          <div class="progress">
            <div class="bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 30%">
            <span class="title">30%</span>
            </div>
          </div>
        </div>

        <p>Python</p>
        <div style="width: 40vw; margin-bottom:0px">
          <div class="progress">
            <div class="bg-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="max-width: 20%">
            <span class="title">20%</span>
            </div>
          </div>
        </div>

        <p>Digital Marketing</p>
        <div style="width: 40vw; margin-bottom:0px">
          <div class="progress">
            <div class="bg-danger" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="max-width: 98%">
            <span class="title">98%</span>
            </div>
          </div>
        </div>

        <p>Product Management</p>
        <div style="width: 40vw; margin-bottom:0px">
          <div class="progress">
            <div class="bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="max-width: 65%">
            <span class="title">65%</span>
            </div>
          </div>
        </div>
    </div>


    <div class="card-contact">
      <h2 class="welcome-sub-text2">You can check out my code here <a href="https://www.instagram.com/meykomeyko/?hl=en"><i class="fab fa-github"></i></a>, contact me professionaly here <a href="https://www.linkedin.com/in/joschakoepke/"><i class="fab fa-linkedin"></i></a> or check out some of my pictures here <a href="https://www.instagram.com/meykomeyko/?hl=en"><i class="fab fa-instagram"></i></a>.</h2>
    </div>
  </div>
















