
<div class="container">
<div class="section">
  <h1 class="welcome-text">Hi friend.</h1>
  <button class="button"></button>
    <h2 class="welcome-sub-text" >My name is Joscha Koepke. I'm a passionate ☕ drinker and consult Google's largest 🚗 clients on digital transformation.  </h2>
  <div class="charts">

    <canvas id="tech-chart" width="400" height="250"></canvas>

    <h2 class="welcome-sub-text">I've got a huge love for launching and improving web apps.</h2>

    <!-- <canvas id="interest-chart" width="400" height="250"></canvas> -->
  </div>
</div>



<script>
  Chart.defaults.global.defaultFontFamily = 'Montserrat';
  Chart.defaults.global.defaultFontSize = 16;


  new Chart(document.getElementById("tech-chart"), {
    type: 'doughnut',
    data: {
      labels: ["JS", "RoR", "HTML5", "Python"],
      datasets: [
        {
          label: "Tech",
          backgroundColor: ["#f723c2", "#2390f7","#f77123","#f72359"],
          data: [2478,5267,734,784]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'My Tech Expertise'
      }
    }
});
</script>

<script>
  new Chart(document.getElementById("interest-chart"), {
    type: 'doughnut',
    FontFamily: "'Montserrat'",
    data: {
      labels: ["Surfing", "Coffee", "Tennis", "Gym"],
      datasets: [
        {
          label: "Interest",
          backgroundColor: ["#f723c2", "#2390f7","#f77123","#f72359"],
          data: [2478,5267,734,784]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'My Interests '
      }
    }
});
</script>


