


<div class="work-card-grid">
  <div class="work-card-wrap">
    <div class="work-card">
      <img src="http://res.cloudinary.com/dat5wdshi/image/upload/v1522769995/4009366b-4699-4c6f-b4d7-5178277e5354-original_1.png" class="work-card-img"/>
      <div class="work-card-text">
        <h4>harvest.</h4>
        <p>The Farmer's Market delivered to your door.
            An MVP built on Rails to enable people to buy directly from local farmers, butchers, bakers, delis and fishermen. <br> <a href="www.harvestgrocer.com">www.harvestgrocer.com</a>
            </p>
      </div>
    </div>
  </div>

  <div class="work-card-wrap">
    <div class="work-card">
      <img src="http://res.cloudinary.com/dat5wdshi/image/upload/v1526591965/parkit-1-5292f93c.png" class="work-card-img"/>
      <div class="work-card-text">
        <h4>PARKIT</h4>
        <p>PARKIT is the Airbnb for parking spaces. The MVP was built on Rails and is an action-based community parking platform with the goal of preventing parking nightmares all over the world. <br> <a href="www.parkit-app.herokuapp.com">www.parkit.com</a>
        </p>
      </div>
    </div>
  </div>

  <div class="work-card-wrap">
    <div class="work-card">
      <img src="http://res.cloudinary.com/dat5wdshi/image/upload/v1526592365/mytaxi_grafik.width-1200.jpg" class="work-card-img"/>
      <div class="work-card-text">
        <h4>MyTaxi Google Case Study</h4>
        <p>Case study in collaboration with MyTaxi was presented by Google VP Product at the 2018 Google IO. MyTaxi was able to increase +70% App Installs while decreasing cost per acquisition by -20%. <br>   <a href="https://www.thinkwithgoogle.com/intl/de-de/insights/markteinblicke/mytaxi-faehrt-vor-mit-universellen-app-kampagnen-zu-mehr-reichweite-und-effizienz/">www.thinkwithgoogle.com</a>
        </p>
      </div>
    </div>
  </div>

</div>
